Non-Members To <%= @team.name %>

<h2>Add Player</h2>

<%= form_for [@team, @membership] do |f| %>
    <%= f.collection_select :user_id, @non_members.all, :id, :full_name %>
    <div class="actions">
        <%= f.submit "Add Members" %>
    </div>
<% end %>
